<h1>Просмотр фото</h1>
<%= image_tag @photo.image.url(:medium) %>



<hr>
<%= @photo.user.following.count %> - юзер подписан
<hr>
<%= @photo.user.followers.count %> - на юзера подписались:
<hr>

<ul>
  <% if current_user.following?(@photo.user) %>
    <li>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @photo.user.id),
                 html: { method: :delete }) do |f| %>
      <%= f.submit "Unfollow", class: "btn" %>
      <% end %>
    </li>
  <% else %>
  <li>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <div><%= hidden_field_tag :followed_id, @photo.user.id %></div>
      <%= f.submit "Follow", class: "btn btn-primary" %>
    <% end %>
  </li>
  <% end %>
</ul>


<% if @photo.comments.any? %>
  <% @photo.comments.each do |c| %>
    <hr> <%= c.content %> <hr>
  <% end %>
<% end %>


<%= form_for @comment = Comment.new do |f| %>
<%= f.text_area :content %>
<%= f.hidden_field :photo_id, :value => @photo.id %>
<%= f.submit "Сохранить" %>
<% end %>
